body {
    font-weight: 300;
}

h3 {
    font-weight: 300;
    margin-bottom: 1rem;
}


h4 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    margin-top: 0.6rem;
}

a {
    color: #212529;
}

.header {
    width: 100%;
    z-index: 9;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1NiIgaGVpZ2h0PSIxMDAiPgo8cmVjdCB3aWR0aD0iNTYiIGhlaWdodD0iMTAwIiBmaWxsPSIjMTcxNTAyIj48L3JlY3Q+CjxwYXRoIGQ9Ik0yOCA2NkwwIDUwTDAgMTZMMjggMEw1NiAxNkw1NiA1MEwyOCA2NkwyOCAxMDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzQ2M2YwOCIgc3Ryb2tlLXdpZHRoPSIyIj48L3BhdGg+CjxwYXRoIGQ9Ik0yOCAwTDI4IDM0TDAgNTBMMCA4NEwyOCAxMDBMNTYgODRMNTYgNTBMMjggMzQiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzVhNTMxNSIgc3Ryb2tlLXdpZHRoPSIyIj48L3BhdGg+Cjwvc3ZnPg==");
}

.header a, .header a:visited {
    color: #eae6c8;
}

.header a:hover, .header a:active {
    color: #b7ad5d;
}

.header .text {
    padding: 10rem 0;
    color: #e9e7d4;
    font-size: 2rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

#section-seminar h1 {
    margin: 0 0 1rem 0;
}

#section-seminar b {
    font-weight: 500;
}

#section-seminar p {
    margin-bottom: 0.4rem;
}

#section-seminar #seminar-description {
    margin: 0 0 1.4rem 0;
}

#section-seminar .schedule ul {
    padding: 0 2rem 0 0;
    border-right: 2px solid #ddd;
}

#section-seminar .schedule ul li {
    list-style-type: none;
    position: relative;
    margin: 0 auto;
    padding-bottom: 1.1rem;
}


#section-seminar .schedule ul li .mu-single-event {
    background-color: #fff;
    -webkit-box-shadow: 0 0 16px 0 rgba(32, 32, 47, 0.16);
    -moz-box-shadow: 0 0 16px 0 rgba(32, 32, 47, 0.16);
    box-shadow: 0 0 16px 0 rgba(32, 32, 47, 0.16);
    position: relative;
    top: 0;
    width: 100%;
    padding: 1rem;
    text-align: left;
}

#section-seminar .schedule ul li .mu-single-event::before {
    content: '';
    position: absolute;
    top: 23px;
    width: 0;
    height: 0;
    right: -15px;
    border-style: solid;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #fff;
}

#section-seminar .schedule ul li .mu-event-time::after {
    content: '';
    position: absolute;
    right: -3.6rem;
    top: 1.2rem;
    transform: translateX(-50%);
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: #ddd;
}

#section-seminar .schedule ul li .mu-event-time {
    color: #367bc7;
    text-align: right;
    font-weight: 600;
}

#section-seminar .schedule ul li .topic {
    text-align: right;
    font-weight: 400;
    color: #586171;
}

#section-seminar .clarify {
    font-size: 0.8rem;
}

#section-seminar .details {
    padding-left: 1.4rem;
}

#section-seminar .thumbnail img {
    height: 6rem;
    width: 6rem;
    margin-right: 2rem;
}

#section-seminar .thumbnail .caption {
    display: inline-block;
    top: 0.7rem;
    position: relative;
}

#section-seminar {
    padding: 4rem 0;
}

#section-qr {
    background: #f6f6f6;
    padding: 2rem 0;
}

#section-qr a {
    color: #3568a7;
}


#section-qr img {
    width: 100%;
    max-width: 10rem;
}

#section-qr .row0 {
    margin-bottom: 2rem;
}

.footer {
    background: #171502;
    color: #e9e7d4;
    padding: 0.6rem;
    font-size: 0.9rem;
}